/* 폰트 */
div .header {
  font-family : 'GmarketSansTTFBold';
  font-size: 19px;
  background: #FFFFFF;
}

/* stroke */
div.stroke .menu .menu1,
div.stroke .menu .menu1:after,
div.stroke .menu .menu1:before {
  transition: all .5s;
}
div.stroke .menu1 .subsubmenu {
  transition: all .5s;
}
div.stroke .menu1 .subsubmenu:hover {
  color: #074D1E;
}
div.stroke .menu .menu1 {
  position: relative;
  transition: all 1s;
}
div.stroke .menu .menu1:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: black;
  height: 1px;
}
div.stroke .menu .menu1:hover:after {
  width: 100%;
}
.menu {
  margin-left: 17vw;
  width: 30vw;
}
.user {
  margin-left: 11vw;
  width: 20vw;
}
/* hover sidemenu */
.menu1 {
  list-style: none;
}
.submenu {
  display: none;
}
/* fade */
.start {
  opacity : 0;
}
.end {
  opacity: 1;
  transition: all .3s;
}





