/* stroke */
div.stroke ul li,
div.stroke ul li:after,
div.stroke ul li:before {
  transition: all .5s;
}
div.stroke li .subsubmenu {
  transition: all .5s;
}
div.stroke li .subsubmenu:hover {
  color: red;
}
div.stroke ul li {
  position: relative;
  transition: all 1s;
}
div.stroke ul li:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: black;
  height: 1px;
}
div.stroke ul li:hover:after {
  width: 100%;
}
/* hover sidemenu */
li {
  list-style: none;
}
.submenu {
  display: none;
}





