.door {
  position: relative;
  bottom: 2%;
  right: 1%;
  width: 35px;
  height: 80px;
  background-color: black;
  font-size: 20px;
  line-height: 23px;
  color: white;
  border-radius: 5px;
  text-align: center;
}
.counter {
  position: relative;
  bottom: 80%;
  right: 1%;
  width: 100px;
  height: 300px;
  background-color: antiquewhite;
  text-align: center;
  padding-top: 100px;
  font-size: 20px;
}
/* 예약완료시 색 변경 */
.yellow {
  background-color: yellowgreen;
  cursor: not-allowed;
}
/* 자리 배치도 */
.place1 {
  position: relative;
  left: 24%;
  width: 600px;
  height: 300px;
  top: 1%;
}
.place2 {
  position: relative;
  left: 18%;
  width: 600px;
  height: 120px;
  top: 8%;
}
.minisize {
  position: inherit;
  text-align: center;
  font-size: 12px;
  width: 50px;
  height: 100px;
  padding-top: 30px;
}
.midsize {
  position: inherit;
  text-align: center;
  width: 150px;
  height: 100px;
  padding-top: 30px;
}
.one {
  top: 5%;
  left: 5%;
}
.two {
  top: 5%;
  left: 11%;
}
.three {
  top: 5%;
  left: 17%;
}
.four {
  top: 5%;
  left: 23%;
}
.five {
  top: 50%;
  right: 28%;
}
.six {
  top: 50%;
  right: 22%;
}
.seven {
  top: 50%;
  right: 16%;
}
.eight {
  top: 50%;
  right: 10%;
}
.nine {
  top: 5%;
  right: 3%;
}
.midsize2 {
  position: relative;
  text-align: center;
  width: 150px;
  height: 100px;
  padding-top: 30px;
}
.ten {
  left: 64%;
}
.eleven {
  top: 1%;
  left: 72%;
}
.twelve {
  top: 5%;
  left: 72%;
}
.thirteen {
  top: 9%;
  left: 39%;
}
.fourteen {
  top: 9%;
  left: 31%;
}
.fifteen {
  top: 9%;
  left: 25%;
}
.sixteen {
  top: 9%;
  left: 19%;
}
.seventeen {
  top: 9%;
  left: 13%;
}